.footer {
  min-height: 100px;
  width: 100%;
  padding: 0 0 15px;
  color: #777;
  font-size: 14px;
  p {
    padding: 0 27px;
  }
}
.logout {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 5px 20px;
  font: bold 16px Tahoma;
  color: #333;
  background-color: #EFB4B4;
  border: 2px solid #999;
  border-radius: 7px;
  cursor: pointer;
}